@import '../../assets/styles/palette';

.loader {
  width: 2rem;
  min-height: 2rem;
  animation: 0.75s linear infinite loading;
  transform: rotate(0);
  
  &.white {
    border: 5px solid $white;
    border-right-color: transparent;
  }

  &.orange {
    border: 5px solid $orange;
    border-right-color: transparent;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}