@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Press+Start+2P&display=swap');

.digital-font {
  font-family: 'Orbitron', sans-serif;
}

.game-font {
  font-family: 'Press Start 2P', system-ui;
}

.screen {
  width: 550px;
  height: 430px;
}

.btn.pokemon-btn, .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background: $light-orange;
  gap: 0.5rem;

  &.selected, &:hover, &:active {
    box-shadow: $light-orange 0px 0px 20px inset;
    background-color: $orange;
  }
}

.btn-wrapper {
  &:hover, &.selected {
    background: $red;
  }
}