@import './assets/styles/palette.scss';

.screen {
  width: 600px;
  height: 430px;
}

.btn.pokemon-btn, .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background: $light-orange;
  gap: 0.5rem;

  &.selected, &:hover, &:active {
    box-shadow: $light-orange 0px 0px 20px inset;
    background-color: $orange;
  }
}

.btn-wrapper {
  &:hover, &.selected {
    background: $red;
  }
}