@import './assets/styles/palette.scss';

.screen {
  width: 550px;
  height: 430px;
}

.top-screen-margin {
  padding: 3px 3px 0 3px;
  background: #303030;
  width: fit-content;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .points {
    min-width: 80px;
    min-height: 50px;
    background: transparent;
    background-image: radial-gradient(rgba(48,48,48,1) 5px, rgb(84, 84, 84) 6px, transparent 8px);
    background-size: 30px 30px;
    background-position: -8px -8px;
  }

  .square {

    &.top {
      top: 8%;
      width: 30px;
      height: 30px;

      &.left {
        left: 13%;
        background: #6A6A6A;
      }

      &.right {
        right: 13%;
        background: #4C4C4C;
      }
    }

    &.bottom {
      bottom: 8%;
      width: 30px;
      height: 30px;

      &.left {
        left: 13%;
        background: #3E3E3E;
      }

      &.right {
        right: 13%;
        background: #292929;
      }
    }
  }

  .pad {
    top: 10%;
    width: 13px;
    height: 60px;
    background: #4D4D4D;

    &.right {
      right: 6px;
      transform: skewY(339deg);
      box-shadow: -2px -1px 4px 0px rgba(0, 0, 0, 0.642) inset;
    }

    &.left {
      left: 6px;
      transform: skewY(21deg);
      box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.642) inset;
    }
  }

  .top-screen {
    width: 1150px;
    height: 600px;
    box-shadow:
      12px 14px 16px 13px rgba(0, 0, 0, 0.642) inset,
      -15px 10px 12px 13px #ffffff3b inset,
      12px 14px 16px 13px rgba(0, 0, 0, 0.642) inset;
    background: linear-gradient(145deg, #828282 0%, #303030 100%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: #828282 2px solid;
    gap: 8%;
  
    .ds-frame {
      padding: 20px;
      border: #656565 2px solid;
      background: linear-gradient(145deg, rgba(91,91,91,1) 0%, rgba(30,30,30,1) 100%);
      width: fit-content;
    }
  }
}

.middle {
  width: 1150px;
  height: 70px;
  background: linear-gradient(
    180deg, rgba(70,70,70,1) 0%,
    rgba(91,91,91,1) 21%,
    rgba(127,127,127,1) 31%,
    rgba(104,104,104,1) 40%,
    rgba(62,62,62,1) 71%,
    rgba(30,30,30,1) 100%);
  box-shadow: 1px -6px 15px 14px rgba(0, 0, 0, 0.642) inset;

  &::before {
    content: "";
    width: 80%;
    height: 0.25rem;
    background: #303030;
    position: absolute;
    top: -0.25rem;
    left: 10%;
  }

  .separator {
    width: 3px;
    height: 100%;
    background: #303030;

    &.left {
      left: 10%;
    }

    &.right {
      right: 10%;
    }
  }

  .mic {
    width: 8px;
    height: 20px;
    background: #303030;
  }

  .battery-container {
    right: 4%;
    gap: 0.50rem;
    .battery {
      width: 6px;
      height: 75%;

      &.on {
        background: linear-gradient(
          180deg,
          rgba(160,170,105,1) 0%,
          rgba(211,216,185,1) 15%, rgba(236,240,210,1) 25%,
          rgba(196,202,163,1) 38%, rgba(171,180,124,1) 69%);
      }

      &.off {
        background: linear-gradient(
          180deg,
          rgba(163,164,159,1) 0%,
          rgba(185,186,181,1) 15%,
          rgba(203,204,199,1) 25%,
          rgba(168,168,165,1) 38%,
          rgba(105,105,103,1) 87%);
      }
    }
  }
}

.bottom-screen-margin {
  padding: 0 3px 3px 3px;
  background: #303030;
  width: fit-content;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .bottom-screen {
    width: 1150px;
    height: 600px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.642) inset;
    background: linear-gradient(145deg, #2A2A2A 0%, #424244 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: #828282 2px solid;

    .frame-wrapper {
      box-shadow:
        -19px -20px 20px 8px rgba(0, 0, 0, 0.65) inset,
        20px -9px 20px 0px rgba(255, 255, 255, 0.554) inset,
        4px 3px 8px 6px rgba(0, 0, 0, 0.65),
        -5px 0px 7px 1px rgba(255, 255, 255, 0.554);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      .ds-frame {
        padding: 20px;
        border: #424244 2px solid;
        background: linear-gradient(145deg, #2D2D2D 0%, #151515 100%);
        width: fit-content;
      }
    }
  }

  .cross-wrapper {
    left: 10%;
    top: 25%;

    .cross {
      width: 57px;
      height: 163px;
      position: relative;
      background: #1D1D1D;
      border: black 3px solid;
      z-index: 3;
  
      &::before, &::after {
        content: "";
        position: absolute;
        height: 33%;
        background: #1D1D1D;
        border: black 3px solid;
        border-radius: 0.375rem;
      }
  
      &::before {
        left: -111%;
        top: 33%;
        width: inherit;
        border-right: transparent;
      }
      
      &::after {
        top: 33%;
        right: -100%;
        width: 100%;
        border-left: transparent;
      }

      .cross-line {
        background: white;
        width: 3px;
        height: 30px;

        &.top {
          top: 5%;
          left: 46%;
        }

        &.bottom {
          bottom: 5%;
          left: 46%;
        }

        &.left {
          top: 40%;
          left: -55%;
          transform: rotate(90deg);
        }

        &.right {
          top: 40%;
          right: -55%;
          transform: rotate(90deg);
          z-index: 4;
        }
      }
    }
  }


  .button-wrapper {
    right: 4%;
    top: 25%;
    width: 170px;
    height: 170px;
    

    .btn {
      width: 50px;
      height: 50px;
      background: #1D1D1D;
      border: black 3px solid;
      box-shadow: -1px -1px 3px 0px white;
      color: white;
      font-family: monospace;
      font-size: 1.3rem;
      
      &.top {
        left: 35%;
      }

      &.right {
        top: 35%;
        right: 0%;
      }

      &.bottom {
        left: 35%;
        bottom: 0%;
      }

      &.left {
        top: 35%;
        left: 0%;
      }
    }
  }
}

.btn.pokemon-btn, .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background: $light-orange;
  gap: 0.5rem;

  &.selected, &:hover, &:active {
    box-shadow: $light-orange 0px 0px 20px inset;
    background-color: $orange;
  }
}

.btn-wrapper {
  &:hover, &.selected {
    background: $red;
  }
}